th:hover {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
}
td:hover {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
}
li:em {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #ff0000;
}
